@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* === SECCIÓN DE INICIO === */

#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/fondo-inicio.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  position: relative;
}

#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: hsl(290, 88%, 46%);
}

/* Ícono menú responsive */
#icono-nav {
  display: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

/* Menú de navegación */
#nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}

#nav ul li a:hover {
  color: hsl(290, 88%, 46%);
}

/* Redes sociales */
.redes {
  display: flex;
  align-items: center;
}

.redes a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  transition: 0.5s;
}

.redes a:hover {
  color: hsl(290, 88%, 46%);
}

/* Presentación */
.presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}

.presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.presentacion h2 {
  font-size: 45px;
  margin-bottom: 25px;
}

.presentacion h2 span {
  color: hsl(290, 88%, 46%);
}

.presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 16px;
}

.presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 15px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

.presentacion a:hover {
  background-color: hsl(290, 88%, 46%);
  border: 2px solid #000;
  color: #000;
}

/* === SOBRE MÍ === */

#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  color: #111135;
}

.contenedor-foto {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-foto img {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  background-color: #f3f3f3;
}

.sobremi {
  flex: 1 1 300px;
  padding: 0 20px;
}

.sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

.sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
}

.sobremi h2 span {
  color: hsl(290, 88%, 46%);
}

.sobremi h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sobremi p {
  font-size: 14px;
  color: #565656;
  line-height: 1.8;
  margin-bottom: 12px;
}

/* === FOOTER === */

footer {
  position: relative;
  width: 100%;
  background: rgb(149, 30, 199);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .menu li a {
  font-size: 1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 2;
}

footer .social_icon li a:hover {
  transform: translateY(-5px);
}

footer p {
  text-align: center;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

footer .wave {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  #icono-nav {
    display: block;
  }
  #nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 60px;
    right: 0; /* Pegado al lado derecho */
    padding: 15px 20px;
    border-radius: 10px 0 0 10px;
    width: 200px;
    align-items: center; /* centra los links dentro del menú */
    z-index: 99;
  }

  #nav.visible ul {
    display: flex;
  }

  #nav ul li {
    margin: 10px 0;
  }

  #nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .redes {
    display: none;
  }
}
